/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-image: linear-gradient(to right, rgb(166, 255, 176) , rgb(177, 250, 255));
  }

  
  
  /* Header Styles */
  header {
    background-color: #ffffff;
    padding: 20px;
  }

  #header-label {
    color: #000000;
    margin-left: 85%; /* Pushes the label to the left */
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
    
  }
  
  nav ul li a:hover {
    color: #ff8c00; /* Change to desired hover color */
    font: 1.1em;
  }

  table {
    margin: 0 auto; /* Centers the table horizontally */
  background-color: white; /* Sets background color to white */
  border-collapse: collapse; /* Collapses the borders into a single border */
  width: 50%; /* Sets a fixed width for the tables */
  }
  
  table, th, td {
    border: 0px solid black; /* Adds borders to table, th, and td elements */
    border-radius: 10px;
    padding: 8px; /* Adds padding inside table cells */
  }
  table a {
    text-decoration: none; /* Remove underline */
    font-size: 18px;
    color: blue;
    transition: color 0.3s ease;
  }

  
  
  /* Change link text color on hover */
  table a:hover {
    color: red; /* Change to desired color */
  }

  table button {
    padding: 9px; /* Adds padding to the button */
    border-radius: 4px;
    background-color: #4CAF50; /* Default background color */
    color: white; /* Default text color */
    font-size: 14px;
    font-style: oblique;
    border: none; /* Removes button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  /* Change button color on hover */
  table button:hover {
    background-color: #08330a; /* Change to desired hover color */
  }

  table button.delete-btn {
    padding: 10px; /* Adds padding to the button */
    background-color: #f44336; /* Red background color */
    color: white; /* Text color */
    font-size: 13px;
    border: none; /* Removes button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  /* Change delete button color on hover */
  table button.delete-btn:hover {
    background-color: #9f1515; /* Darker red on hover */
  }
  
  /* Footer Styles */
  #footer {
    display: none;
    position: grid;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Show footer when scrolled to bottom */
  html:not(:target) #footer {
    display: block;
  }
  

/*for mobile content*/
@media screen and (max-width:600px) {

    img.logo_about{
        display: block;
        width: 100%;
        max-width: 300px;
        height: auto;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about {
        padding: 5px;
        display:block;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        line-height: 25px;
        float: left;
    }
    
}